<footer class="footer">
	<p class="footer__text">
		<span class="footer__text-part"
			><img class="footer__logo" src="img/logo.svg" alt="WAW" width="45"></span
		>
	</p>

	<div class="footer-wrap">
		<!--
		<div class="footer__item-link">

			<div class="footer__link-title">Title for links</div>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
		</div>-->

		<div class="footer__item-link footer__item-link--center">
				<a href="" class="footer__link-icon"><img src="img/instagram.png" alt=""></a>
				<a href="" class="footer__link-icon"><img src="img/tiktok.png" alt=""></a>
		</div>

		<!--
			<div class="footer__item-link footer__item-link--end">
			<div class="footer__link-title">Title for links</div>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
		</div>
		-->

	</div>
	
</footer>
