<div class="vertical">
	<div class="vertical__title">{{{section.title}}}</div>
	<div class="vertical-wrapper">
		{% for img in section.imgs %}
		<div class="vertical__item">
			<div class="vertical__img">
				<img src="{{{img}}}" alt="" />
			</div>
		</div>
		{% endfor %}
	</div>
	{% for social in section.socials %}
	<a href="{{{social.href}}}" class="vertical-instagram">
		<div class="vertical-instagram__text">{{{section.subtitle}}}</div>
		<div class="vertical-instagram__icon">
			<img src="{{{social.img}}}" alt="" />
		</div>
	</a>
	{% endfor %}
</div>
