// intro section

.intro {
	padding-bottom: calc(50px * var(--padding-scale));
	text-align: center;
	font-family: var(--ff-base);

	&__img {
		max-width: 370px;
		padding: calc(20px * var(--padding-scale)) 0
			calc(0 * var(--padding-scale));
		margin: 0 auto;
		border-radius: var(--b-radius);
		overflow: hidden;
		img {
			width: 100%;
			display: block;
		}
	}

	&__title {
		font-family: var(--ff-brush);
		font-size: 100px;
		padding-top: calc(12px * var(--padding-scale));
		letter-spacing: var(--letter-spacing);
		line-height: 1;
		color: var(--c-text-primary);
	}

	&__description {
		font-size: var(--font-sizeB);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-body-secondary);
		margin-top: calc(12px * var(--margin-scale));
		max-width: 70ch;
		margin-left: auto;
		margin-right: auto;
		transition: color var(--transition);
	}
}

@media screen and (max-width: var(--bp-lg)) {
	.intro__title {
		font-size: 28px;
	}
	.intro__description {
		font-size: calc(var(--font-size) * 0.95);
	}
}

@media screen and (max-width: var(--bp-md)) {
	.intro__title {
		font-size: 24px;
	}
	.intro__img {
		max-width: 280px;
		padding: calc(20px * var(--padding-scale)) 0
			calc(30px * var(--padding-scale));
		margin: 0 auto;
	}
	.intro__description {
		font-size: calc(var(--font-size) * 0.9);
	}
}

@media screen and (max-width: var(--bp-sm)) {
	.intro__title {
		font-size: 20px;
	}
	.intro__description {
		font-size: calc(var(--font-size) * 0.875);
	}
	.intro__title {
    	font-size: 60px;
	}
	.hero__text {
		padding-right: 0;
	}
	.hero__title {
    	font-size: 24px;
	}
	.hero__imgs {
		flex: 0 0 100%;
		max-width: 370px;
	}
	.gallery-wrapper {
        padding: 10px;
    }
	.gallery__item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px;
    }
}
